@font-face {
  font-family: 'Monaspace Neon';
  src: url('/fonts/MonaspaceNeon-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: 'Monaspace Neon';
  src: url('/fonts/MonaspaceNeon-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBMPlexSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBMPlexSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: block;
}
